* html {
  margin: 0;
  padding: 0;
}
.App {
  font-family: "Sigmar One", cursive;
  background: url("./images/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 10px;
}

.title {
  text-align: center;
  font-size: 8rem;
  font-weight: 100;
  margin-bottom: 2rem;
  letter-spacing: -9px;
}

.photo {
  background: grey;
  border-radius: 50px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(63, 3, 3, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 2px solid white;
}

.photo:hover {
  box-shadow: 0px 30px 100px -10px rgba(102, 2, 2, 0.4);
}

.imagewall{
  margin: 4rem;
}

